@media (prefers-color-scheme: dark){
  .header {
  text-shadow: 0.09vw 0.09vw #ac8282;
  }
  }
h1{
  color: #ffbdbd;
}
.dv-spin{
width: 15.813vh;
height: 15.813vh;
animation: spin 5s ease-in-out infinite;  /* animation set */
animation-play-state: paused;               /* ...but paused */
}
.dv-spin:hover{
animation-play-state:running;  
}

.a {
margin-top: -17.292vh;
position: absolute;
animation-name: example; /* Name of Animation */
animation-duration: 2s; /* Time of animation */
animation-delay: 0ms; /* Animation delay */
animation-timing-function: linear; /* Animation timing */
animation-iteration-count: infinite;
user-select: none; /* makes the cube not selectable */
-moz-user-select: none; /* makes the cube not selectable */
-webkit-user-drag: none; /* makes the cube not selectable */
-webkit-user-select: none; /* makes the cube not selectable */
-ms-user-select: none; /* makes the cube not selectable */
}
/* makes the cube small when hovered*/
@keyframes spin {
0% {transform: rotateX(0deg);}
50% {transform: rotateX(70deg);}
100% {transform: rotateX(0deg);} 
}
/*Makes the cube spin*/
@keyframes example {
0% { animation-play-state: running;transform:rotate(0deg); }
50% { transform:rotate(180deg) }
100% { transform:rotate(360deg) }
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.Link {
  text-shadow: 0px 0px 2vw red;
  color: rgb(255, 15, 15);
}

.Link:hover {
  color: rgb(197, 13, 13);
  position: relative;
  bottom: -1px;
  left: 1px
}
.image10 {
  background-color: #484848;
  border-image: linear-gradient(to left,0% #909090, #484848);
  border-width: 0.1vw;
  border-style: solid;
}

.bold {
  font-weight:bolder;
}
.imgbg {
  background-color: rgb(122, 122, 122) ;
}